@model IEnumerable<PageDto>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ana Menü</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                @foreach (var topPage in Model.Where(p => p.ParentPageId == null && p.IsInMenu && p.IsVisible).OrderBy(p => p.MenuPosition))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @topPage.Title
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (topPage.SubPages.Any())
                            {
                                @foreach (var subPage in topPage.SubPages.Where(sp => sp.IsInMenu && sp.IsVisible).OrderBy(sp => sp.MenuPosition))
                                {
                                    <li><a class="dropdown-item" href="#">@subPage.Title</a></li>
                                }
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="#">@topPage.Title</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
