<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proje Adı</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
</head>

<body>
    <div class="container mt-3">
        

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Sayfa yüklendiğinde sadece bir kez CKEditor'u initialize edelim
        if (CKEDITOR.instances['Content']) {
            CKEDITOR.instances['Content'].destroy(); // Daha önce var olan CKEditor örneğini kaldırıyoruz.
        }

        CKEDITOR.replace('Content', {
            extraPlugins: 'uploadimage',
            filebrowserUploadUrl: '/Admin/UploadImage',
            filebrowserImageUploadUrl: '/Admin/UploadImage'
        });
    </script>



</body>

</html>
